body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #29a7e1;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-top: 105px;
}

h1{
    font-size: 24px;
}

input[type='text']{
    width: 100%;
    padding: 4px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info{
    margin-top: 20px;
}



